<p>home works!</p>

<div name="children">
    <router-outlet></router-outlet>
</div>

<button (click)="logout()">Logout</button>

<div>
    <ol>
        <li><a href="/home/first">First</a></li>
        <li><a href="/home/second">Second</a></li>
    </ol>
</div>